In [2]:
import pandas as pd
import sqlalchemy
import os

In [20]:
SystemBook = pd.read_csv('Raw/03_Library Systembook.csv')
Customers = pd.read_csv('Raw/03_Library SystemCustomers.csv')

In [28]:
base_folder = os.getcwd()
filename = 'Raw/03_Library SystemCustomers.csv'
raw_folder = os.path.join(base_folder, "Raw")
cleaned_folder = 'Cleaned', 
historic_folder = 'Historic'
timestamp_historic = True
# Ensure Folders Exist
# os.makedirs(raw_folder, exist_ok=True)
# os.makedirs(cleaned_folder, exist_ok=True)
# os.makedirs(historic_folder, exist_ok=True)

# Define file paths
# raw_path = 
# cleaned_path = os.path.join(cleaned_folder, filename)

raw_folder

'c:\\Users\\Admin\\desktop\\PythonEDA\\Raw'

In [ ]:
Customers = Customers.dropna()
Customers = Customers[Customers['Customer ID'] %1 == 0]
Customers['Customer ID'] = Customers['Customer ID'].astype(int)
Customers

In [24]:
System = pd.read_csv('Raw/03_Library Systembook.csv')

In [25]:
System = System.dropna()
System = System[System['Id'] %1 == 0]
System['Id'] = System['Id'].astype(int)

In [26]:
System

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1
1,2,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2
2,3,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3
3,4,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4
4,5,Dune,"""02/04/2023""",25/03/2023,2 weeks,5
5,6,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1
6,7,IT,"""10/04/2063""",03/04/2023,2 weeks,6
7,8,Misery,"""15/04/2023""",03/04/2023,2 weeks,7
8,9,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7
9,10,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2
10,11,1984,"""23/04/2023""",27/04/2023,2 weeks,8
11,12,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1
12,13,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2
13,14,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3
14,15,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9
15,16,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2
16,17,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3
17,18,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5
18,19,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10
19,20,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2

In [27]:
# System['Book checkout'] = System['Book checkout'].astype(str)
System['Book checkout'] = System['Book checkout'].str.replace('"','',regex=True)
System
# System['Book checkout']

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1,Catcher in the Rye,20/02/2023,25/02/2023,2 weeks,1
1,2,Lord of the rings the two towers,24/03/2023,21/03/2023,2 weeks,2
2,3,Lord of the rings the return of the kind,29/03/2023,25/03/2023,2 weeks,3
3,4,The hobbit,02/04/2023,25/03/2023,2 weeks,4
4,5,Dune,02/04/2023,25/03/2023,2 weeks,5
5,6,Little Women,02/04/2023,01/05/2023,2 weeks,1
6,7,IT,10/04/2063,03/04/2023,2 weeks,6
7,8,Misery,15/04/2023,03/04/2023,2 weeks,7
8,9,Catch 22,15/04/2023,16/04/2023,2 weeks,7
9,10,Animal Farm,20/04/2023,24/04/2023,2 weeks,2
10,11,1984,23/04/2023,27/04/2023,2 weeks,8
11,12,Little Women,02/04/2023,01/05/2023,2 weeks,1
12,13,East of Eden,30/04/2023,05/05/2023,2 weeks,2
13,14,America Is in the Heart,01/05/2023,07/05/2023,2 weeks,3
14,15,Wuthering Heights,01/05/2023,10/05/2023,2 weeks,9
15,16,Dark Tales,15/05/2023,01/06/2023,2 weeks,2
16,17,The Bloody Chamber,32/05/2023,04/06/2023,2 weeks,3
17,18,Les Miserables,03/06/2023,07/06/2023,2 weeks,5
18,19,Dracula,10/06/2023,10/07/2023,2 weeks,10
19,20,Frankenstein,01/06/2023,20/06/2023,2 weeks,2