In [10]:
import pandas as pd
import sqlalchemy
import os

In [11]:
SystemBook = pd.read_csv('Raw/03_Library Systembook.csv')
Customers = pd.read_csv('Raw/03_Library SystemCustomers.csv')

SystemBook

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,"""20/02/2023""",25/02/2023,2 weeks,1
1,2.0,Lord of the rings the two towers,"""24/03/2023""",21/03/2023,2 weeks,2
2,3.0,Lord of the rings the return of the kind,"""29/03/2023""",25/03/2023,2 weeks,3
3,4.0,The hobbit,"""02/04/2023""",25/03/2023,2 weeks,4
4,5.0,Dune,"""02/04/2023""",25/03/2023,2 weeks,5
5,6.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1
6,7.0,IT,"""10/04/2063""",03/04/2023,2 weeks,6
7,8.0,Misery,"""15/04/2023""",03/04/2023,2 weeks,7
8,9.0,Catch 22,"""15/04/2023""",16/04/2023,2 weeks,7
9,10.0,Animal Farm,"""20/04/2023""",24/04/2023,2 weeks,2
10,11.0,1984,"""23/04/2023""",27/04/2023,2 weeks,8
11,12.0,Little Women,"""02/04/2023""",01/05/2023,2 weeks,1
12,13.0,East of Eden,"""30/04/2023""",05/05/2023,2 weeks,2
13,14.0,America Is in the Heart,"""01/05/2023""",07/05/2023,2 weeks,3
14,15.0,Wuthering Heights,"""01/05/2023""",10/05/2023,2 weeks,9
15,16.0,Dark Tales,"""15/05/2023""",01/06/2023,2 weeks,2
16,17.0,The Bloody Chamber,"""32/05/2023""",04/06/2023,2 weeks,3
17,18.0,Les Miserables,"""03/06/2023""",07/06/2023,2 weeks,5
18,19.0,Dracula,"""10/06/2023""",10/07/2023,2 weeks,10
19,20.0,Frankenstein,"""01/06/2023""",20/06/2023,2 weeks,2

In [28]:
base_folder = os.getcwd()
filename = 'Raw/03_Library SystemCustomers.csv'
raw_folder = os.path.join(base_folder, "Raw")
cleaned_folder = 'Cleaned', 
historic_folder = 'Historic'
timestamp_historic = True
# Ensure Folders Exist
# os.makedirs(raw_folder, exist_ok=True)
# os.makedirs(cleaned_folder, exist_ok=True)
# os.makedirs(historic_folder, exist_ok=True)

# Define file paths
# raw_path = 
# cleaned_path = os.path.join(cleaned_folder, filename)

raw_folder

'c:\\Users\\Admin\\desktop\\PythonEDA\\Raw'

In [ ]:
Customers = Customers.dropna()
Customers = Customers[Customers['Customer ID'] %1 == 0]
Customers['Customer ID'] = Customers['Customer ID'].astype(int)
Customers

In [12]:
System = pd.read_csv('Raw/03_Library Systembook.csv')
System = System.dropna()
System = System[System['Id'] %1 == 0]
System['Id'] = System['Id'].astype(int)
System['Book checkout'] = System['Book checkout'].str.replace('"','',regex=True)
System['Book checkout'] = pd.to_datetime(System['Book checkout'], format='mixed', errors='coerce')
System = System.dropna(subset=['Book checkout'])
System['Book Returned'] = System['Book Returned'].str.replace('"','',regex=True)
System['Book Returned'] = pd.to_datetime(System['Book Returned'], format='mixed', errors='coerce')
System = System.dropna(subset=['Book Returned'])
System['Rental_Length'] = System['Book Returned'] - System['Book checkout']
System = System[System['Rental_Length'] >= pd.Timedelta(0)]
System
# System['Book checkout']

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID,Rental_Length
0,1,Catcher in the Rye,2023-02-20,2023-02-25,2 weeks,1,5 days
3,4,The hobbit,2023-02-04,2023-03-25,2 weeks,4,49 days
4,5,Dune,2023-02-04,2023-03-25,2 weeks,5,49 days
8,9,Catch 22,2023-04-15,2023-04-16,2 weeks,7,1 days
9,10,Animal Farm,2023-04-20,2023-04-24,2 weeks,2,4 days
10,11,1984,2023-04-23,2023-04-27,2 weeks,8,4 days
12,13,East of Eden,2023-04-30,2023-05-05,2 weeks,2,5 days
13,14,America Is in the Heart,2023-01-05,2023-07-05,2 weeks,3,181 days
14,15,Wuthering Heights,2023-01-05,2023-10-05,2 weeks,9,273 days
17,18,Les Miserables,2023-03-06,2023-07-06,2 weeks,5,122 days
18,19,Dracula,2023-10-06,2023-10-07,2 weeks,10,1 days
19,20,Frankenstein,2023-01-06,2023-06-20,2 weeks,2,165 days

In [13]:
System['Rental_Length']

0      5 days
3     49 days
4     49 days
8      1 days
9      4 days
10     4 days
12     5 days
13   181 days
14   273 days
17   122 days
18     1 days
19   165 days
Name: Rental_Length, dtype: timedelta64[ns]

In [48]:
raw_folder = 'Raw'
cleaned_folder = 'Cleaned'
historic_folder = 'Historic'
timestamp_historic = True
filename = '03_Library Systembook.csv'

In [9]:
raw_path = os.path.join(raw_folder,filename)
cleaned_path = os.path.join(cleaned_folder, filename)
System = pd.read_csv(raw_path)
System

NameError: name 'os' is not defined

In [27]:
import unittest
from enrich import Book_Returned
import pandas as pd

test_df = pd.DataFrame({
    'Book Returned': ['1/02/2025', '2/03/2025', '2/01/2025'],
    'Book checkout': ['1/01/2025', '2/01/2025', '3/01/2025']
})

# Convert Columns of self.test_df to datetime
test_df['Book Returned'] = pd.to_datetime(test_df['Book Returned'], format='mixed', errors='coerce')
test_df['Book checkout'] = pd.to_datetime(test_df['Book checkout'], format='mixed', errors='coerce')

# Apply your Book_Returned function to the self.test_df
Book_Returned(test_df)
print(test_df)

  Book Returned Book checkout Rental_Length
0    2025-01-02    2025-01-01        1 days
1    2025-02-03    2025-02-01        2 days
2    2025-02-01    2025-03-01      -28 days

In [17]:
def Book_Returneds(df):
    '''
    Ensure df is converted to datetime.
    '''
    df['Rental_Length'] = df['Book Returned'] - df['Book checkout']
    df = df[df['Rental_Length'] >= pd.Timedelta(0)]
    return df

results = Book_Returneds(System)

print(results)

    Id                    Books Book checkout Book Returned  \
0    1      Catcher in the Rye     2023-02-20    2023-02-25
3    4               The hobbit    2023-02-04    2023-03-25
4    5                    Dune     2023-02-04    2023-03-25
8    9                 Catch 22    2023-04-15    2023-04-16
9   10             Animal Farm     2023-04-20    2023-04-24
10  11                     1984    2023-04-23    2023-04-27
12  13             East of Eden    2023-04-30    2023-05-05
13  14  America Is in the Heart    2023-01-05    2023-07-05
14  15        Wuthering Heights    2023-01-05    2023-10-05
17  18           Les Miserables    2023-03-06    2023-07-06
18  19                  Dracula    2023-10-06    2023-10-07
19  20             Frankenstein    2023-01-06    2023-06-20

   Days allowed to borrow  Customer ID Rental_Length
0                 2 weeks            1        5 days
3                 2 weeks            4       49 days
4                 2 weeks            5       49 days
8                 2 weeks            7        1 days
9                 2 weeks            2        4 days
10                2 weeks            8        4 days
12                2 weeks            2        5 days
13                2 weeks            3      181 days
14                2 weeks            9      273 days
17                2 weeks            5      122 days
18                2 weeks           10        1 days
19                2 weeks            2      165 days